altgraph==0.17.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.0
attrs==25.4.0
audioop-lts==0.2.1
autobahn==25.12.2
Automat==25.4.16
beautifulsoup4==4.13.4
blinker==1.9.0
cbor2==5.8.0
certifi==2025.6.15
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
constantly==23.10.4
contourpy==1.3.3
cryptography==46.0.5
curl_cffi==0.13.0
customtkinter==5.2.2
cycler==0.12.1
daphne==4.2.1
darkdetect==0.8.0
dash==4.0.0
dash-testing-stub==0.0.2
dill==0.4.1
distro==1.9.0
Django==6.0.1
django-crispy-forms==2.5
django-htmx==1.27.0
django-widget-tweaks==1.5.1
docopt==0.6.2
et_xmlfile==2.0.0
Flask==3.1.3
fonttools==4.61.1
frozendict==2.4.7
gTTS==2.5.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.7.1
Incremental==24.11.0
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
Js2Py==0.74
kiwisolver==1.4.9
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
MouseInfo==0.1.3
mplfinance==0.12.10b0
msgpack==1.1.2
multiprocess==0.70.19
multitasking==0.0.12
narwhals==2.18.0
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
numpy==2.4.2
openai==2.24.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==3.0.1
peewee==4.0.1
pefile==2023.2.7
percy==2.0.2
pillow==12.1.0
pipwin==0.5.2
platformdirs==4.9.2
plotly==6.6.0
pluggy==1.6.0
protobuf==7.34.0
psutil==7.2.2
pusher==3.3.3
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pyjsparser==2.7.1
PyMsgBox==1.0.9
PyNaCl==1.6.2
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyperclip==1.9.0
pypiwin32==223
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
PySocks==1.7.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.98
pytweening==1.2.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
qrcode==8.2
redis==7.2.0
requests==2.32.4
retrying==1.4.2
selenium==4.2.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.14.3
sqlparse==0.5.5
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.3
trio==0.33.0
trio-websocket==0.12.2
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
urllib3==1.26.20
urllib3-secure-extra==0.1.0
waitress==3.0.2
websockets==16.0
Werkzeug==3.1.6
wsproto==1.3.2
yfinance==1.2.0
zipp==3.23.0
zope.interface==8.2
